@import url("https://fonts.googleapis.com/css2?family=Edu+Sa+Beginner:wght@400...700&display=swap");
@import url("https://fonts.glogleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
.productos h1, .tituloprod, .destacados .carrousel-inicio, .novedades .titulo-inicio, header .color-nav a, header .colortitulo, .formulario-contacto .formulario label {
  color: #133955;
  text-decoration: none;
  font-family: "Edu Sa Beginner";
}

footer nav a, footer p {
  color: #133955;
  font-family: "Edu Sa Beginner";
  font-style: normal;
  font-size: 18px;
}

.novedades .boton {
  text-decoration: none;
  font-family: "Poppins";
  color: #133955;
  border: #133955 2px solid;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin-top: 5rem;
}

.novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textos-varios-texto, .pagina-contacto .textos-varios-textos-contacto, .textos-varios-textos-devoluciones, .textos-varios-h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 21px;
  padding: 1px;
}

.selectorcard, .enviar {
  border: 1px solid #133955;
  color: #D1775B;
}

.enviar {
  font-family: "Edu Sa Beginner";
  grid-column: 1;
  background-color: #F5EFEB;
  margin: 10px;
}

.pagina-contacto .textos-varios-textos-contacto, .textos-varios-textos-devoluciones {
  padding: 1rem;
  margin: 1.5rem;
  text-align: start;
}

.novedades .boton:hover {
  color: #D1775B;
  border: #D1775B 2px solid;
}

.selectorcard {
  background-color: #F5EFEB;
}

.selectorcard:hover {
  background-color: #D1775B;
  color: #F5EFEB;
}

.formulario-contacto {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .formulario-contacto {
    margin: 24px;
  }
}
.formulario-contacto .formulario {
  max-width: 900px;
  width: 100%;
  margin: 1.5rem;
  padding: 1rem;
  border: 1px solid #D1775B;
  border-radius: 5px;
}
.formulario-contacto .formulario input {
  border: #D1775B 1px solid;
  background-color: #F5EFEB;
}

.enviar {
  text-align: center;
  display: block;
  margin: 1.5rem auto 0;
}

.enviar:hover {
  background-color: #D1775B;
  color: #F5EFEB;
}

header {
  background-color: #F5EFEB;
}
header .colortitulo {
  font-style: bold;
  margin-right: 60px;
  font-size: 35px;
}
.novedades {
  background-image: url(../assets/imagenes/novedades.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  height: 100vh;
  margin: 0px;
  padding: 10px;
  gap: 10px;
  max-width: 100%;
}
.novedades .titulo-inicio {
  font-weight: bolder;
  margin-top: 250px;
}
.novedades .subtitulo-inicio {
  font-family: "Edu Sa Beginner";
  color: #133955;
  font-weight: bolder;
  margin-top: 1.2rem;
}

.destacados {
  padding: 1.5rem;
  background-image: url(../assets/imagenes/fondo.png);
  padding-top: 0px;
}
.destacados .barradedestacados {
  background-color: white;
  padding-top: 1rem;
}
.destacados .barradedestacados h2 {
  font-family: "Edu Sa Beginner";
  font-size: 28px;
  margin: 20px;
  color: #133955;
}
.destacados .barradedestacados img {
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 30px;
  height: auto;
}
.destacados .carousel-img {
  height: 600px;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 768px) {
  .destacados .carousel-img {
    height: 100%;
  }
}
.textos-varios-h2 {
  background-color: white;
  color: #133955;
  font-size: 30px;
  margin: 1rem;
}

.productos h1 {
  text-align: center;
}

.cardsprod {
  margin-top: 1rem;
  width: 18rem;
  border: solid 1px #D1775B;
}

.card-devoluciones {
  max-width: 1400px;
  margin: 1.5rem;
}

.pagina-contacto {
  background-image: url(../assets/imagenes/fondo.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .pagina-contacto {
    margin: 24px;
    background-image: none;
  }
}
.pagina-contacto .textos-varios-textos-contacto {
  background-color: white;
  max-width: 900px;
  width: 100%;
  justify-content: center;
  border: #D1775B 1px solid;
  border-radius: 5px;
}

.nosotros-inicio {
  font-family: "Edu Sa Beginner";
  font-size: 1.5rem;
  color: black;
  padding: 5px;
  text-align: center;
  border: #133955;
  background-color: #95acbd;
}

.nosotros-inicio img {
  width: 75px;
}

.textos-varios-texto {
  text-align: justify;
}

footer {
  padding-top: 7px;
  background-color: #F5EFEB;
}
footer p {
  margin: 15px 20px;
  text-align: center;
}
footer nav a {
  text-decoration: none;
}
footer nav ul {
  list-style: none;
}
footer nav ul li {
  text-align: center;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer div img {
  padding: 5px;
  margin: 5px;
}

/*# sourceMappingURL=styles.css.map */
