$letra_color: #133955;
$letra1: "Edu Sa Beginner";
$fondo-color: #F5EFEB;
$fondo-imagen: url(../assets/imagenes/fondo.png);
$imagen-pantuflas-inicio: url(../assets/imagenes/novedades.jpg);
$color-extra: #D1775B;