 .novedades {
     .boton {
         @extend %boton;
     }

     .boton:hover {
         color: $color-extra;
         border: $color-extra 2px solid;
     }
 }



 .selectorcard {
     background-color: $fondo-color;
     @extend %borde-color-azul-naranja;
 }

 .selectorcard:hover {
     background-color: $color-extra;
     color: $fondo-color;
 }

 .formulario-contacto {
     display: flex;
     flex-direction: column;
     align-items: center;

     .formulario {
         max-width: 900px;
         width: 100%;
         margin: 1.5rem;
         padding: 1rem;
         border: 1px solid $color-extra;
         border-radius: 5px;
     }

     .formulario label {
         @extend %color-navs;
     }

     .formulario input {
         border: $color-extra 1px solid;
         background-color: $fondo-color;
     }

     .enviar {
         @extend %b-enviar;
         text-align: center;
         display: block;           // Lo convierte en bloque
         margin: 1.5rem auto 0; 
     }

     .enviar:hover {
         background-color: $color-extra;
         color: $fondo-color;
     }
 }