footer {
    background-color: $fondo-color;

    p {
        @extend %letra-pie-pag;
        margin: 15px 20px;
        text-align: center;
    }

    nav {
        a {
            @extend %letra-pie-pag;
            text-decoration: none;
        }

        ul {
            list-style: none;

            li {
                text-align: center;
            }
        }
    }
}