.novedades {
    background-image: $imagen-pantuflas-inicio;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    height: 100vh;
    @extend %flex-column;
    margin: 0px;
    padding: 10px;
    gap: 10px;
    max-width: 100%;

    .titulo-inicio {
        @extend %color-navs;
        font-weight: bolder;
        margin-top: 250px;
    }

    .subtitulo-inicio {
        font-family: $letra1;
        color: $letra-color;
        font-weight: bolder;
        margin-top: 1.2rem;
    }
}

.destacados {
    padding: 1.5rem;
    background-image: $fondo-imagen;
    padding-top: 0px;

    .barradedestacados {
        background-color: white;
        padding-top: 1rem;

        h2 {
            font-family: $letra1;
            font-size: 28px;
            margin: 20px;
            color: $letra-color
        }

        img {
            align-items: center;
            justify-content: center;
            margin: 20px;
            width: 30px;
            height: auto;
        }
    }

    .carousel-img {
        height: 600px;
        object-fit: cover;
        width: 100%;

        @media (max-width:768px) {
            height: 100%;
        }
    }

    .carrousel-inicio {
        @extend %color-navs;

    }
}

.textos-varios-h2 {
    background-color: white;
    color: $letra-color;
    @extend %fuente-comun;
    font-size: 30px;
    margin: 1rem;
}

.textos-varios-textos-devoluciones {
    @extend %fuente-comun;
    @extend %pad-margin-igual;
}

.tituloprod {
    @extend %color-navs;
}

.productos h1 {
    @extend %color-navs;
    text-align: center;
}

.cardsprod {
    margin-top: 1rem;
    width: 18rem;
    border: solid 1px $color-extra;
}

.card-devoluciones {
    max-width: 1400px;
    margin: 1.5rem;
}

.pagina-contacto {
    background-image: $fondo-imagen;
    display: flex;
    flex-direction: column;
    align-items: center;
    .textos-varios-textos-contacto {
        background-color: white;
        max-width: 900px;
        width: 100%;
        justify-content: center;
        border: $color-extra 1px solid;
        border-radius: 5px;
        @extend %fuente-comun;
        @extend %pad-margin-igual;
    }
}


.nosotros-inicio {
    font-family: "Edu Sa Beginner";
    font-size: 1.5rem;
    color: black;
    padding: 5px;
    text-align: center;
    border: $letra-color;
    background-color: #95acbd;
}

.nosotros-inicio img {
    width: 75px;
}

.textos-varios-texto {
    @extend %fuente-comun;
    text-align: justify;
}